*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 400px;
    border: 3px solid red;
    box-shadow: 8px 5px 5px 3px rgba(232, 148, 148, 0.412);
}