*{
    margin: 0px;
    padding: 0px;
}
.head{
    height: 80px;
    width: 100%;
    background-color: #33B5E5;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.Logo{
    padding: 0px 30px;
}
.menu{
    align-items: center;
    height: 80px;
    width: 25%;
    display: flex;
    /* justify-content: space-around; */
}
.option{
    padding-left: 30px;
}
