*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}
#body{
    background: linear-gradient(to right, #41014f, #ab01bc);
    height: 100vh;
    width: 100%;
}
.parent{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 73%;
    width: 25%;
    border: 2px solid rgb(0, 0, 0);
    background-color: #271E3D;
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.4);
}
.part_1 .part_1_1{
    /* border: 2px solid yellow; */
    padding: 25px;
   
}
.part_1_1 button{
    background-color:#EEBF33 ;
    color: #000;
    width: 15%;
    border: none;
    font-weight: 800;
}
.part_1_1 .image{
    position: relative;
    left: 25%;
    top: 5%;
    height: 150px;
    width: 150px;
    border: 3px solid #b30dc2;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
    padding: 2px;
}
.part_1_1 .image img{
    border: 2px solid #ab01bc;
    border-radius: 50%;
}
.part_2{
    /* border: 2px solid red; */
    color: gray;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.part_2 h4{
    margin: 10px 0px;
}
p{
    /* border: 2px solid rosybrown; */
    text-align: center;
    color: gray;
    font-size: 18px;
}
.part_3{
    text-align: center;
}
.part_3 button{
    width: 40%;
    margin: 10px 5px;  
   height: 50px;
   cursor: pointer;
   background: none;
   border: 1px solid #ab01bc;
   color: white;
   font-size: 20px;
   font-weight: 400;
}
.part_3 button:nth-child(1){
    background-color: #ae00d5;
}
.part_3 button:hover{
    background-color: #ab01bc;
}
.part_3 button:focus{
    transition-delay: .5s;
    background-color: #64156b;
}
.skill{
    border: none;
    color: gray;
    padding: 15px;
    margin: 10px 0px;
    background-color: #1D1A35;
    border-radius: 20px;
}
.skill h3{

}
.skill > ul{
    display: flex;
    justify-content: space-around;
    margin: 20px 0px;
}
.skill >ul >li{
    border: 1px solid gray;
    padding: 5px;
    cursor: pointer;
}