

#heading
{
    color: red;
    /* border: 1px solid green; */
    position: relative;
}

#heading::before
{
    content:'';
    position: absolute;
    background-color: black;
    height: 2px;
    width: 100px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    bottom: 0;
}